@import "./mixins/mixin.scss";
@import "./variables/variables.scss";
@import "./components/header.scss";
@import "./components/buttons.scss";
@import "./components/form.scss";

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans" ,sans-serif;
    color: #000;
    background: #fff;
    font-size: 16px;
    font-size: calc(.00838 * 100vw + 0px);

    &.loading {
        overflow: hidden;
    }
}

.scene {
    &__text {
        opacity: 0;
        position: relative;
        top: 11%;
        line-height: 1;
        width: 26em;
        margin-left: 1em;
        padding: 0 0 0.1em;
        border-bottom: 0.2em solid #000;
        font-size: 3em;

        @media (min-width: 480px) {
            font-size: 1.6em;
            margin-left: 3em;

        }

        @media (min-width: 768px) {
            font-size: 1em;
            margin-left: 17em;

        }

        &.active {
            @media (min-width: 768px) {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    border-bottom: 0.1em solid rgba(#000, .5);
                    left: 50%;
                    top: calc(100% + 0.1em);
                    width: 0;
                    transform: rotate(23deg);
                    transform-origin: top left;
                    animation: showLine 0.5s linear forwards;
                }

                &:after {
                    content: '';
                    opacity: 0;
                    display: block;
                    position: absolute;
                    right: -12.7em;
                    bottom: -11.3em;
                    width: 1em;
                    height: 1em;
                    border: 0.15em solid rgba(#000, .5);
                    border-radius: 50%;
                    animation: fade 0.5s 0.5s linear forwards;
                }
            }
        }

        &--sun {
            top: 16%;
            margin-left: 2em;
            border-bottom: 0;
            border-top: 0.2em solid #000;

            @media (min-width: 768px) {
                top: 45%;
                margin-left: 3em;
            }

            &.active {
                @media (min-width: 768px) {
                    &:before {
                        top: -0.2em;
                        transform: rotate(-28.5deg);
                    }

                    &:after {
                        bottom: auto;
                        top: -13.7em;
                        right: -11.6em;
                    }
                }
            }

        }

        &--virus {
            border-bottom: 0;
            border-top: 0.2em solid #000;
            position: absolute;
            top: auto;
            right: 4em;
            bottom: 4em;

            @media (min-width: 768px) {
                right: 8em;
                bottom: 10em;
            }

            &.active {
                @media (min-width: 768px) {
                    &:before {
                        top: -0.2em;
                        transform: rotate(-162.5deg);
                    }

                    &:after {
                        bottom: auto;
                        right: auto;
                        left: -13.7em;
                        top: -9.1em;
                    }
                }
            }
        }
    }
}
@keyframes showLine {
    from {
        width: 0;
    }

    to {
        width: 27em;
    }
}
@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loader {
    z-index: 9999;
    height: 100vh;
    height: -webkit-fill-available;
    width: 100vw;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    padding: 20px;

    @media (hover: none) and (pointer: coarse) {}

    @media (min-width: 768px) {
        padding: 50px;
    }

    &__percent {
        font-size: 27px;
        font-weight: 600;

        &:before {
            content: '';
            display: block;
            border-top: 5px solid #000;
            width: 100px;
        }
    }
}

.canvas-wrapper {
    position: fixed;
    top: 0;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    height: -webkit-fill-available;
    z-index: 9;
    @media (hover: none) and (pointer: coarse) {}

    @media (min-width: 768px) {
        width: 1400px;
    }

    @media (min-width: 1400px) {
        width: 1920px;
    }

    &--hidden {
        display: none;
    }

    &--bg {}

    canvas,
    img {
        position: absolute;
        z-index: 9;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.49);
        width: 1200px;
        height: 100vh;
        display: block;
        object-fit: cover;
        object-position: center;

        @media (min-width: 768px) {
            width: 1400px;
        }

        @media (min-width: 1400px) {
            width: 1920px;
        }

        &#canvas-window {
            @media (hover: none) and (pointer: coarse) {}
        }

        &#canvas-window,
        &#canvas-windows-back {
            transform: translate(-50%, -50%) scale(0.6);

            @media (min-width: 480px) {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &#canvas-viruses {
            transform: translate(-50%, -50%) scale(0.6);
            @media (min-width: 480px) {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        @media (min-width: 1000px) {
            max-width: none;
        }
    }
}

.rentgen,
.rentgen-border {
    display: none;
}

.wrapper {
    overflow: hidden;

    &:hover {
        .rentgen,
        .rentgen-border {
            display: block;
        }
    }

}

section {
    height: 100vh;
    position: relative;

    &.one {
        @media (hover: none) and (pointer: coarse) {
            height: var(--vh);
        }

    }

    &.two {}

    &.three {}

    &.four {}

    &.five {
        height: 0;
    }

    &.six {
        min-height: 100vh;

        .six-box {
            position: absolute;
            top: 0;
            height: 100vh;
            @media (hover: none) and (pointer: coarse) {
                height: var(--vh);
            }
        }

        .six-form {
            position: absolute;
            top: 100vh;
            height: 100vh;
            @media (hover: none) and (pointer: coarse) {
                height: var(--vh);
            }
        }
    }

    &.seven {
        padding-top: 200px;
    }
}

.sun {
    display: block;
    position: absolute;
    left: -80%;
    top: -15%;
    width: 80%;
    z-index: -1;

    @media (min-width: 480px) {
        left: -50%;
        top: -42%;
        width: 52%;
    }

    @media (min-width: 768px) {
        left: -50%;
        top: -50%;
        width: 50%;

    }
}

.contact-form {
    background-color: #fff;
    padding: 1%;
    margin: auto;

    @media (min-width: 480px) {}
}

.svg {
    &-screen {
        position: absolute;
        top: 0;
        left: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 1200px;
        height: 100vh;
        overflow: hidden;
        @media (hover: none) and (pointer: coarse) {}
        display: block;
        @media (min-width: 768px) {
            width: 1400px;
        }

        @media (min-width: 1400px) {
            width: 1920px;
        }

        image,
        img {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            @media (hover: none) and (pointer: coarse) {}
        }

        .one & {
            @media (hover: none) and (pointer: coarse) {
                height: var(--vh);
            }
        }

        &__virus {
            image {
                opacity: 0.05;

                @media (min-width: 768px) {
                    opacity: 0.2;
                }
            }
        }
    }
}

.img-box {
    display: none;
}

p {
    max-width: 80ch;
}

.honey {
    background-image: url("../images/bg-honey.jpg");
}

.scene-title {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 1.2rem;
}

figure {
    margin: 0;
    padding: 0;
}
